body {
  background-color: #ead7e4;
}

.taskDiv {
  background-color: #ffe6e6;
  margin-left: 170px;
  /* width: 75%; */
  padding-left: 30px;
  display: flex;
  flex-wrap: nowrap;
  
}
.delleteBtn {
  background-color: brown;
  color: white;
}
.checkbox {
  width: 30px;
}
#btnAdd {
  background-color: #ffe6e6;
  border: 1px solid blueviolet;
}
