.btn {
  background-color: red;
  width: 100px;
  /* height: 50px; */
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  color: white;
}
