
.two{background-color: rgb(0, 255, 225);
float: right;}
.three{background-color: rgb(193, 255, 127);
float: right;}
.foure{background-color: goldenrod;
float: right;}
.one{background-color: blue;
width: 300px;
height: 300px;}