section {
  scroll-margin-top: 80px;
}

.header-section {
  margin-top: 80px;
}
.navbar-nav .nav-link {
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
 background-color: grey;
}