.btn {
  background-color: red;
  color: aquamarine;
  width: 300px;
  /* height: 150px; */
}
#btn {
  width: 100px;
  height: 50px;
}
.body {
  background-color: brown;
  /* background-color: blue; */
}
