/* 
.container{
  background-color: gray;
  margin: auto;
 padding: 50px;
 border: 1px solid wheat;
}
.productsBox{
  background-color: blanchedalmond;
  padding-left: 30px;
  border: 1px solid wheat;
  margin: 30px;
  border-radius:30px ;
  -webkit-border-radius:30px ;
  -moz-border-radius:30px ;
  -ms-border-radius:30px ;
  -o-border-radius:30px ;
} */